@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Sitenizin gizlilik politikasını detaylandırmak için bu sayfayı kullanın. Ya da kullanmayın ya siz bilirsiniz...</p>
<p>Şaka şaka kullanın...</p>
